@import './../../../../assets//Styles/Constants/_colors.css';

.theme-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid var(--color-gray-light);
    background-color: var(--button-theme);
    color: var(--text-main);
    transition: all 0.3s ease;
    font-family: sans-serif;
    font-weight: 500;
}

.theme-btn:hover {
    background-color: #FCA483;
    color: white;
}

.icon {
    font-size: 1.2rem;
}

@media (max-width: 480px) {
    .text {
        display: none;
    }

    .theme-btn {
        padding: 8px;
        border-radius: 50%;
    }
}