@import './../../../../../assets/Styles/Constants/_colors.css';

.payment-item {
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--color-green);
    opacity: 0.7;
    list-style: none;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 5px 0px;
}

.payment-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-black);
}

.payment-price {
    font-size: 16px;
    color: var(--color-black);
}