@if(isOpen()){
<div class="orders-modal">
    <div class="orders-modal__overlay" (click)="closeModal()"></div>
    <div class="orders-modal__dialog">
        <header class="orders-modal__header">
            <h3>{{variant() === 'order'?`Comentario de la orden N ${payload()?.id}`:
                `Imagen del pago N ${payload()?.id}`}}</h3>

            <app-custom-button text="×" color="ghost" (click)="closeModal()" class="modal-close"></app-custom-button>
        </header>
        <div class="orders-modal__body">
            @if(variant() === 'order'){
            <p>{{ orderPayload()?.body }}</p>
            }@else if(variant() === 'payment'){
            <img [src]="paymentPayload()?.image" alt="payment image" style="max-width:20%; border-radius:6px;" />
            }
        </div>
    </div>
</div>
}