@import './../../../../../assets/Styles/Constants/_colors.css';

.custom-button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-button--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    box-shadow: 0 4px 15px rgba(252, 164, 131, 0.3);
}

.custom-button--primary:hover:not(:disabled) {
    background-color: var(--btn-primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(241, 136, 134, 0.4);
}

.custom-button--ghost {
    background-color: transparent;
    color: var(--input-text);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.custom-button--ghost:hover:not(:disabled) {
    background-color: rgba(238, 211, 88, 0.303);
    border-color: var(--btn-primary-bg);
}

.custom-button--secondary {
    background-color: transparent;
    color: var(--input-text);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.custom-button--secondary:hover:not(:disabled) {
    background-color: rgba(238, 211, 88, 0.303);
    border-color: var(--btn-primary-bg);
}


.custom-button:active:not(:disabled) {
    transform: translateY(0);
}

.custom-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}